<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="lssuttonConnectionString" connectionString="Data Source=narcissa.valdosta.edu;Initial Catalog=lssutton;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="lssuttonConnectionString2" connectionString="Data Source=narcissa.valdosta.edu;Initial Catalog=lssutton;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="accessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\players.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <identity userName="vsu\lssutton" password="Dodaddy2013"></identity>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>